<h1> <% @task.id %>のタスク編集ページ</h1>

<%= form_for(@task) do |t| %>

<% if task.errors.any? %>
  <div id="error_explanation">
    
    <ul>
      <% message.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
    
  </div>
  
<% end %>



<%= t.label :content, 'タスク' %>

<%= t.label :content, 'タスク' %>

<%= t.text_field :content %>

<%= t.submit '登録' %>

<% end %>

<%= link_to '一覧に戻る', tasks_path %>